In [1]:
import pandas as pd, numpy as np, seaborn as sns

In [58]:
wt = pd.read_csv('./data/weather.csv', engine='python')

In [59]:
wt['일시'].str[-2:]

0      19
1      19
2      19
3      19
4      19
       ..
434    20
435    20
436    20
437    20
438    20
Name: 일시, Length: 439, dtype: object

In [60]:
wt['MONTH'] = wt['일시'].str[0:3]
wt['YEAR'] = '20' + wt['일시'].str[-2:]

In [61]:
import calendar

d = {v: str(k).rjust(2, '0') for k,v in enumerate(calendar.month_abbr)}

In [62]:
wt['MONTH'] = wt['MONTH'].map(d)

In [63]:
wt['YEAR']

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
434    2020
435    2020
436    2020
437    2020
438    2020
Name: YEAR, Length: 439, dtype: object

In [64]:
wt['DATE'] = wt['YEAR'] + wt['MONTH']

In [65]:
wt.drop(['일시','지점','YEAR','MONTH'], axis=1, inplace=True)

In [66]:
g_wt = wt.groupby(['DATE','시도']).mean().reset_index()

In [67]:
new_wt = g_wt[g_wt['DATE']!='202007']

In [68]:
new_wt.isnull().sum()

DATE                  0
시도                    0
평균기온(°C)              1
평균최고기온(°C)            1
평균최저기온(°C)            1
월합강수량(00~24h만)(mm)    0
dtype: int64

In [70]:
new_wt

       DATE  시도  평균기온(°C)  평균최고기온(°C)  평균최저기온(°C)  월합강수량(00~24h만)(mm)
0    201901  강원     -1.10        5.25       -6.95                4.45
1    201901  경기     -3.20        4.25       -9.85                0.30
2    201901  경남      3.10        8.50       -1.30               13.30
3    201901  경북      3.15        7.60       -0.40               36.40
4    201901  광주      1.80        7.00       -2.10               16.40
..      ...  ..       ...         ...         ...                 ...
297  202006  전남     22.20       25.90       19.40              261.50
298  202006  전북     22.40       27.20       18.90              196.60
299  202006  제주     22.40       26.10       19.80              221.50
300  202006  충남     22.10       27.60       18.00              144.00
301  202006  충북     23.40       29.20       18.30              112.10

[302 rows x 6 columns]

In [71]:
new_wt.columns = ['DATE', 'SIDO', 'AVG_TEMP', 'AVG_MAX_TEMP', 'AVG_MIN_TEMP', 'MONTH_PRECIPITATION']

In [74]:
new_wt[new_wt['AVG_TEMP'].isnull()]

      DATE SIDO  AVG_TEMP  AVG_MAX_TEMP  AVG_MIN_TEMP  MONTH_PRECIPITATION
73  201905   세종       NaN           NaN           NaN                  0.2

In [84]:
new_wt[new_wt['DATE']=='201905']

      DATE SIDO  AVG_TEMP  AVG_MAX_TEMP  AVG_MIN_TEMP  MONTH_PRECIPITATION
64  201905   강원     19.05         25.80         12.35                18.55
65  201905   경기     17.80         25.60         10.20                35.80
66  201905   경남     18.60         24.35         13.70               113.15
67  201905   경북     18.25         23.05         13.95                18.25
68  201905   광주     19.20         26.20         13.10                78.80
69  201905   대구     20.70         27.50         13.60                25.70
70  201905   대전     19.70         26.70         12.90                35.60
71  201905   부산     19.30         23.60         15.70                76.10
72  201905   서울     19.40         25.60         13.70                37.80
73  201905   세종       NaN           NaN           NaN                 0.20
74  201905   울산     19.70         25.50         14.00                35.00
75  201905   인천     16.40         21.05         12.45                31.05
76  201905   전남     18.60         23.35         14.50               127.65
77  201905   전북     18.20         24.75         12.45                44.95
78  201905   제주     19.00         22.60         15.80                82.70
79  201905   충남     17.60         24.55         11.05                20.90
80  201905   충북     19.25         26.70         11.90                17.85

In [83]:
new_wt[new_wt['DATE']=='201905'].loc[new_wt['SIDO']=='세종','AVG_TEMP'] = new_wt[new_wt['DATE']=='201905'].loc[new_wt['SIDO']=='대전','AVG_TEMP']

C:\Users\Joshua\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [87]:
new_wt.iloc[73] = new_wt.iloc[70]

C:\Users\Joshua\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [88]:
new_wt[new_wt['DATE']=='201905']

      DATE SIDO  AVG_TEMP  AVG_MAX_TEMP  AVG_MIN_TEMP  MONTH_PRECIPITATION
64  201905   강원     19.05         25.80         12.35                18.55
65  201905   경기     17.80         25.60         10.20                35.80
66  201905   경남     18.60         24.35         13.70               113.15
67  201905   경북     18.25         23.05         13.95                18.25
68  201905   광주     19.20         26.20         13.10                78.80
69  201905   대구     20.70         27.50         13.60                25.70
70  201905   대전     19.70         26.70         12.90                35.60
71  201905   부산     19.30         23.60         15.70                76.10
72  201905   서울     19.40         25.60         13.70                37.80
73  201905   대전     19.70         26.70         12.90                35.60
74  201905   울산     19.70         25.50         14.00                35.00
75  201905   인천     16.40         21.05         12.45                31.05
76  201905   전남     18.60         23.35         14.50               127.65
77  201905   전북     18.20         24.75         12.45                44.95
78  201905   제주     19.00         22.60         15.80                82.70
79  201905   충남     17.60         24.55         11.05                20.90
80  201905   충북     19.25         26.70         11.90                17.85

In [90]:
new_wt.iloc[73,1] = '세종'

C:\Users\Joshua\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [91]:
new_wt[new_wt['DATE']=='201905']

      DATE SIDO  AVG_TEMP  AVG_MAX_TEMP  AVG_MIN_TEMP  MONTH_PRECIPITATION
64  201905   강원     19.05         25.80         12.35                18.55
65  201905   경기     17.80         25.60         10.20                35.80
66  201905   경남     18.60         24.35         13.70               113.15
67  201905   경북     18.25         23.05         13.95                18.25
68  201905   광주     19.20         26.20         13.10                78.80
69  201905   대구     20.70         27.50         13.60                25.70
70  201905   대전     19.70         26.70         12.90                35.60
71  201905   부산     19.30         23.60         15.70                76.10
72  201905   서울     19.40         25.60         13.70                37.80
73  201905   세종     19.70         26.70         12.90                35.60
74  201905   울산     19.70         25.50         14.00                35.00
75  201905   인천     16.40         21.05         12.45                31.05
76  201905   전남     18.60         23.35         14.50               127.65
77  201905   전북     18.20         24.75         12.45                44.95
78  201905   제주     19.00         22.60         15.80                82.70
79  201905   충남     17.60         24.55         11.05                20.90
80  201905   충북     19.25         26.70         11.90                17.85

In [95]:
new_wt.to_csv('./data/new_weather.csv', index=False)